

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>{{ post.title }}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/narrow-jt.css' %}" rel="stylesheet">
  </head>

  <body>

    
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link " href="{% url 'index' %}">me </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'current_projects' %}">now</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">résumé</a>
            </li>
          </ul>
        </nav>
        
      </div>

       <div class="jumbotron1">
       	
       	<br>
        <div class="post">
        <h1 class="lead2">{{ post.title }}</h1>
        <p class="my4">{{ post.date }}</p>
        <p class="my3">{{ post.text|linebreaksbr }}</p>
    </div>
      </div>
      
     
      <footer class="footer">     
      </footer>


    </div>
  </body>
</html>

<html>
    
</html>
